@charset "utf-8";

*{
	box-sizing: border-box;
	position: relative;
}

html,body{
	font-family: 'Poppins';
	background-color: #222;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}


ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
}


/* form_icon_img  */


.icon-img select{
	/* 取消選曲 */
	display: none;
}

.icon-img{
  position: absolute;
	right: 1%;
	/* 垂直中央 */
  top: 50%;
  transform: translateY(-50%);
	z-index: 200;
	/* 禁止訪問指標 */
	cursor: pointer;
	pointer-events: none;
	opacity: 1;
}

/* layout */

.navbar .container{
	display: flex;
  align-items: self;
  justify-content: space-between;
	max-width: 1980px;
	width: 100%;
	height: 121px;
	/* margin: 0 auto; */
	padding-left: 60px;
	padding-right: 60px;
	background-color: #222;
}

.main .container{
	max-width: 1980px;
	width: 100%;
	height: 924px;
	max-height: 1080px;
	margin-top: 100% ;
	margin: 0 auto;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #222;
}

@media screen and (max-width:768px) {
	.navbar .container{
		padding-left: 24px;
		padding-right: 24px;
		width: 100vh;
	}
	.main .container{
		padding-left: 10px;
		padding-right: 10px;
		width: 100vh;
	}
}

@media screen and (max-width:540px) {
	.navbar .container{
		padding-left: 10px;
		padding-right: 10px;
	}
	.main .container{
		padding-left: 10px;
		padding-right: 10px;
	}
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}


@media screen and (max-width:768px) {
	.row{
		display: flex;
		flex-wrap: nowrap;
		margin: 0 auto;
	}
}

.row:after{
	content: '';
	display: block;
	clear: both;
}

.col-lg-6,.col-lg-4,.col-lg-3,.col-lg-12,
.col-md-6,.col-md-4,.col-md-3,.col-md-12,
.col-sm-6,.col-sm-4,.col-sm-3,.col-sm-12{
	/*border: 1px solid red;*/
	float: left;
	padding-left: 16px;
	padding-right: 16px;
}
.col-lg-3{
	width: 25%;
}
.col-lg-4{
	width: 33.3333333%;
}
.col-lg-6{
	width: 50%;
}
.col-lg-12{
	width: 100%;
}

@media screen and (max-width: 768px) {
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.3333333%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		float: center;
		width: 100%;
	}
}

@media screen and (max-width:540px) {
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.3333333%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-12{
		width: 100%;
		float: center;
	}
}

/* contact_row_grid for contact*/
.container .col-60 {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 6.66666%;
}

.contact_row {
  grid-gap: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin-bottom: 30px;
  width: 100%;
}

.contact_row_grid_1,
.contact_row_grid_4 {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}

.contact_row_grid_1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}


.input_group.form_item-lg {
  grid-column: 2 / span 2;
  grid-row: 1 / span 3;
}
/* component */
.main-preview .name_title{
	color: rgba(255, 255, 255, 0.5);
	line-height: 35px;
	font-size: 24px;
	font-weight: 400;
	margin-top: 44px;
	white-space: nowrap;
}

.main-preview .title{
	color: #fff;
	line-height: 35px;
	font-size: 70px;
	font-weight: 800;
	margin-top: 44px;
}

.main-preview .descript{
	color: #fff;
	line-height: 35px;
	font-size: 20px;
	font-weight: 300;
	margin-top: 44px;
	margin-bottom: 23px;
	text-align: left;
}

.main-preview .btn{
	display: inline-block;
	padding: 13px 47px;
	font-size: 20px;
	font-weight: 300;
	line-height: 35px;
	margin-bottom: 24px;
}

.main-preview .btn-group{
	margin-left: 12px;
}

@media screen and (max-width: 768px){
	.btn-group-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    margin: 0 auto;
    transform: translate(50%, 50%);
    margin-top: -30px;
  }

  .btn-group-center .btn {
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
    margin-top: 24px;
    flex: 0 0 calc(50% - 24px);
  }


	.btn-group-center .btn:last-child{
		margin-bottom: 0;
	}
}

.main-preview .btn-group .btn{
	margin-right: 15px;
}

.main-preview .btn-primary{
	background-color: #333;
	border: 3px solid #007CED;
	border-radius: 30px;
	color: #fff;
}

.main-preview .btn-normal{
	background-color: #333;
	border: 3px solid #fff;
	color: #fff;
	border-radius: 30px;
}
/* header */

/* navbar */
.navbar{
	height: 100%;
	background-color: #222;
	z-index: 500;
	width: 100%;
	left: 0;
	top: 0;

	display: fixed;
  align-items: center;
}

.navbar .brand{
	display: inline-block;
	vertical-align: left;
	/* margin-top: 46px; */
	width: 55px;
	height: 55px;
	background-image: url('../images/nav_brand.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 8px;

	/* white-space: nowrap;
	text-indent: 100%;
	overflow: hidden; */
}
.navbar .navbar_brand_group {
  display: flex;
	flex-grow: 1;
  align-items: center; /* 将内容垂直居中 */
  width: 20%;
}

.navbar .project_title{
	font-family: 'Poppins';
	font-weight: 400;
	color: #fff;
}

.navbar .project_title span{
	font-family: 'Poppins';
	color:#fff;
  font-weight: bold;
}

@media screen and (max-width:540px) {
	.navbar .project_title{
		display: none;
	}
}

.navbar .nav{
	float: right;
	flex-grow: 1;
}

.navbar .nav .nav-item{
	float: left;
}

.navbar .nav .nav-list{
	display: inline-block;
	vertical-align: baseline;
	color: rgba(255, 255, 255, 0.5);
	line-height: 35px;
	margin:  58px 35px;
	/* border: 1px solid #000; */
	transition: color 0.3s;

}

.navbar .nav .nav-list:hover{
	color: #fff;
}

@media screen and (max-width: 1080px) {
  .close-btn {
    display: inline-block;
    vertical-align: bottom;
    justify-content: center;
  }
}

/* popup-menu */

#popup-menu .nav .nav-item {
  text-align: center;
  padding: 16px;
}

#popup-menu .nav .nav-list {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  line-height: 35px;
  margin: 0;
  transition: color 0.3s;
}

#popup-menu .nav .nav-list:hover {
  color: #fff;
}

/* navbar close-btn */
.navbar .close-btn {
  display: none;
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 1080px) {

	#popup-menu {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #222;
		z-index: 1000;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s;
	}


	#popup-menu .nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	#popup-menu:target {
		opacity: 1;
		visibility: visible;
	}


  .navbar .close-btn {
    display: block;

		text-align: right;
		justify-content: right;
		cursor: pointer;
		position: fixed;
		right: 5%;
		top: 5%;
	}

	#popup-menu .nav .nav-item {
    display: flex;
		flex-direction: column;
    text-align: center;
    justify-content: center;
    cursor: pointer;

  }
}

/* menu-toggle */
.navbar .menu-toggle{
	width: 48px;
	height: 48px;
	/*border: 1px solid #fff;*/
	float: right;
	margin-top: 8px;
	display: none;
}
@media screen and (max-width: 1080px){
	.navbar .menu-toggle{
		display: inline-block;
	}
}


.wrapper{
	background-color: #222;
	display: flex;
	flex-direction: column;
	flex-grow: 1; /*可佔滿垂直剩餘的空間*/
	min-height: 100vh;
}

.main{
	flex: 1;
}

.main .container{
	display: flex;
	margin-top: 175px;
	margin-bottom: 208px;
	margin-right: 272px;
}

.image,
.main-preview {
  flex: 1;
  width: 100%;
	flex-direction: row;
}



.image-container{
	float: left;
	width: 25%;
	max-height: 60%;
	vertical-align: center;
}


.image-container:before{
	content: '';
	display: block;
	width: 50%;
	padding-top: 50%;
}

.image-container .image{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
  height: 60%;
	background-repeat: no-repeat;
	/* 修正圖片不破壞比例 */
	background-size: contain;
	background-position: center;

	min-height: 100%;
	object-fit: contain;
	overflow: clip;
}
.main .main-preview{
	padding-left: 80px;
	padding-right: 272px;
	width: 75%;
	float: right;
}

@media screen and (max-width: 768px) {
  .main .container {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    max-height: 100%;

	}

	.image{
		width:100%;
		margin: 0 auto;
	}

  .main-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
		padding-top: -30px;

  }

  .main-preview .name_title {
		display: flex;
		justify-content: center;
		align-items: center; /* 垂直居中对齐 */
		text-align: center;
		flex-grow: 1; /* 增加伸缩比例以占用剩余空间 */
		white-space: nowrap;
		margin: 0 auto;
  }

  .main-preview .title {
		display: flex;
		flex: 0.5;
    text-align: center;
    margin: 50% auto;
  }

  .main-preview .descript {
		display: flex;
    justify-content: left;
    text-align: inherit;
		margin: 50% auto;
		min-width: 60vh;

  }
}

/* .front_end_title */
.front_end_skill_main .container{
	padding: 60px ;
}

@media screen and (max-width: 768px) {
	.front_end_skill_main .container{
		padding: 24px ;
	}
}

.front_end_skill_main .hero{
	height: 231px;
	width: 100%;
	background-color: #242424;
	display: flex; /* 將元素設置為 flex 容器 */
	/* justify-content: center; 水平置中 */
	align-items: center; /* 垂直置中 */
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

.front_end_skill_main .front_end_title{
	color: #fff;
	margin: 0;
	font-size: 55px;
	font-weight: 700;
	line-height: 35px;
	padding-right: 60px;
}

@media screen and (max-width:768px) {
	.front_end_skill_main .front_end_title{
    display: block;
    justify-content: center;
    text-align: center;
		align-items: center;
		padding-right: 20px !important ;
	}
}

.front_end_skill_main .front_end_skills_service{
	font-size: 28px;
	line-height: 35px;
	font-weight: 700;
	color: #fff;
}

.headline-box-border-grey{
	background: #353535;
	height: 2px;
	margin-top: 5px;
	width: 127px;
}

.headline-box-border-blue{
	background: #007CED;
	height: 2px;
	top: -2px;
	width: 40px;
}

/* front-descript-group */
.front-wrapper{
  width: 100%;
  overflow: hidden;
  padding-top: 22px;
	/* margin-bottom: 45px; */
}

.front-wrapper:after{
content: '';
display: block;
clear: both;
}

.front-wrapper .front-image{
  float: left;
  margin-right: 20px;

}

@media screen and (max-width: 768px) {


}

.front-wrapper .front-text-group{
	overflow: hidden;
	display: block;
  margin-left: 26px; /* 調整此處來決定兩個元素之間的距離 */
	margin-right: 20px;
}

.front-wrapper .front_name{
  color: #fff;
	display: inline-block;
	margin: 5 auto;
  line-height: 35px;
  margin-bottom: 10px;
	font-weight: 700;
	font-size: 18px;
	vertical-align: top;
}

.front-wrapper .front_descript{
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	text-align: left;
	display: flex;
  justify-content: space-between;
	margin-bottom: 45px
}

.front_end_skills_service{
	color: #fff;
	margin: 0;
	font-size: 55px;
	font-weight: 700;
	line-height: 35px;
	padding-right: 60px;
}

/* back_end_page */
.back_end_skill_main .container{
	padding: 60px ;
}

.back_end_skill_main .hero{
	height: 231px;
	width: 100%;
	background-color: #242424;
	display: flex; /* 將元素設置為 flex 容器 */
	/* justify-content: center; 水平置中 */
	align-items: center; /* 垂直置中 */
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

.back_end_skill_main .back_end_title{
	color: #fff;
	margin: 0;
	font-size: 55px;
	font-weight: 700;
	line-height: 35px;
	padding-right: 60px;
}

.back_end_skill_main .back_end_skills_service{
	font-size: 28px;
	line-height: 35px;
	font-weight: 700;
	color: #fff;
}

/* back-descript-group */
.back-wrapper{
  width: 100%;
  overflow: hidden;
  padding-top: 22px;
	/* margin-bottom: 45px; */
}

.back-wrapper:after{
content: '';
display: block;
clear: both;
}

.back-wrapper .back-image{
  float: left;
  margin-right: 20px;

}

@media screen and (max-width: 768px) {
  .back-text-group {
    margin-left: 100px; /* 在較小的螢幕上縮小距離 */
  }
}

.back-wrapper .back-text-group{
	overflow: hidden;
	display: block;
  margin-left: 26px; /* 調整此處來決定兩個元素之間的距離 */
	margin-right: 20px;
}

.back-wrapper .back_name{
  color: #fff;
	display: inline-block;
	margin: 5 auto;
  line-height: 35px;
  margin-bottom: 10px;
	font-weight: 700;
	font-size: 18px;
	vertical-align: top;
}

.back-wrapper .back_descript{
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	text-align: left;
	display: flex;
  justify-content: space-between;
	margin-bottom: 45px
}

.back_end_skills_service{
	color: #fff;
	margin: 0;
	font-size: 55px;
	font-weight: 700;
	line-height: 35px;
	padding-right: 60px;
}

/* skillbar-box-name */
.skillbar-group {
  width: 100%;
  padding-top: 22px;
}

.skillbar-box-name {
  color: #fff;
  width: 50%;
  font-size: 18px;
  line-height: 35px;
  flex: 1;
  display: flex;
  align-items: center;
  float: left;
}

.skillbar-box-value {
  color: rgba(255, 255, 255, 0.7);
  width: 50%;
  font-style: normal;
  line-height: 35px;
  float: right;
  text-align: right;
}

.skillbar-box {

  display: flex;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
	margin-bottom: 16px;
  flex-wrap: wrap;
	align-items: center;
}

.skillbar {
	border: 2px;
  border-color: #444;
  border-radius: 15px;
  border-style: solid;
  width: 100%;
  height: 15px;
  position: relative;
  overflow: hidden;
  background-color: #222;
  margin-top: 5px;
	margin-bottom: 29px;
}

.skillbar-box-fill {
	border-radius: 8px;
  height: 100%;
  position: absolute;
  background-color: #007ced;
}

/* Portfolio Page */
.portfolio_main .container{
	/* 與上方logo對準60px */
	padding-left: 60px ;
}

.portfolio_main{
	min-height: 100vh;

	overflow-x: hidden;
}


.portfolio_main .hero{
	height: 231px;
	width: 100%;
	background-color: #242424;
	display: flex; /* 將元素設置為 flex 容器 */
	/* justify-content: center; 水平置中 */
	align-items: center; /* 垂直置中 */
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

.portfolio_main .portfolio_title{
	color: #fff;
	margin: 0;
	font-size: 55px;
	font-weight: 700;
	line-height: 35px;
	padding-right: 60px;
}

.portfolio_wrapper{
	width: 100%;
  overflow: hidden;
  /* container padding為 60px 總共123px */
	padding-left: 63px;
}

.portfolio_subtitle{
	color: #fff;
	margin-top: 49px;
	font-size: 28px;
	font-weight: 700;
	line-height: 35px;
	padding-right: 60px;
}

.klienti_group{
	margin-left: 443px;
	/* padding-left: auto; */
	width: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

}
@media screen and (max-width: 768px) {
  .klienti_group {
    padding-left: 0; /* 移除左邊間距 */
    display: flex;
    flex-direction: column;
    align-items: center;
		flex: auto;

  }
}


.klienti_group .klienti_list {
	/* 水平排列 */
  display: flex;
  justify-content: space-between;
}

.klienti_group .klienti_list .klienti-item{
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	line-height: 35px;
	margin-right: 207px;

	/* 第二行間隔51px 本身Klienti為49px */
	padding-bottom: 2px;
}

/* 設定粗體字 */
.klienti-item strong{
	font-weight: bold;
}

/* galerie_list */
.galerie_list{

	/* 水平排列 */
	display: flex;
}

.portfolio_wrapper .galerie_list .galerie-item{
	font-size: 18px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	line-height: 35px;
	margin-right: 49px;
}
.portfolio_wrapper .galerie_list .galerie-item .nav-list:hover{
	color: #fff;
}

.portfolio-group{
	padding-top: 24px;
	padding-left: 63px;
	padding-bottom: 45px;
}

.portfolio-group .portfolio-list {
	align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.portfolio-group .portfolio-list .portfolio-item img{
	width: 475px;
	height: 270px;
	border-radius: 25px;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

/* contact page*/
.contact_main .container{
	/* 與上方logo對準60px */
	padding-left: 60px ;
}

.contact_main .hero{
	height: 231px;
	width: 100%;
	background-color: #242424;
	display: flex; /* 將元素設置為 flex 容器 */
	/* justify-content: center; 水平置中 */
	align-items: center; /* 垂直置中 */
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

.contact_main .contact_title{
	color: #fff;
	margin: 0;
	font-size: 55px;
	font-weight: 700;
	line-height: 35px;
	padding-left: 60px;
}
.contact_map {
  top: 0;
  left: 0;
	margin-top: 29px;
  padding: 29px 121px;
  width: 1678px;
  height: 146px;
  background-size: cover;
	display: flex;
  align-items: center;
	justify-content: center;
  overflow: hidden;

	margin-bottom: 39px;
}

.contact-wrapper{
  width: 100%;
  overflow: hidden;
  padding-top: 22px;
	/* margin-bottom: 45px; */
}

.contact-wrapper:after{
content: '';
display: block;
clear: both;
}

.contact-wrapper .contact-image{
  float: left;
  margin-right: 20px;

}

@media screen and (max-width: 768px) {
  .contact-text-group {
    margin-left: 100px; /* 在較小的螢幕上縮小距離 */
  }
}

.contact-wrapper .contact-text-group{
	overflow: hidden;
	display: block;
  margin-left: 26px; /* 調整此處來決定兩個元素之間的距離 */
	margin-right: 20px;
}

.contact-wrapper .contact_name{
  color: #fff;
	display: inline-block;
	margin: 5 auto;
  line-height: 35px;
  margin-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	vertical-align: top;
}

.contact-wrapper .contact_descript{
	color: rgba(255, 255, 255, 0.7);
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	text-align: left;
	display: inline-block;
  /* justify-content: space-between; */
	margin-bottom: 45px
}

.contact_table_title{
	vertical-align: top;
  color: #fff;
	font-size: 28px;
	font-weight: 700;
	line-height: 35px;
	/* display: block; */
}

.input_group{
	display: flex;
	margin-top: 27px;
	/* background-color: #252525;
	color: #252525; */
}

/* 右側form表格 */

.contact_main .form{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1; /*可佔滿垂直剩餘的空間*/
	min-height: 100vh;
}

.form_item input,
.form_item select{
	background-color: #252525; /* 设置所需的背景颜色 */
	border: 2px solid #555555;
	border-radius: 5px;

	width: 500px;
	height: 53px;
}

.form_item select{
	color: #555;
}

.form_item-lg input[type="text"] {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #252525;
  border: 2px solid #555555;
  border-radius: 5px;
  color: #fff;
  line-height: 30px;
  font-size: 14px;
  writing-mode: horizontal-tb !important;
  text-align: start;
  white-space: pre-wrap;
}


.form_item .contact_btn{
	width: 161px;
	height: 62px;
	background: #333333;
	border: 3px solid #007CED;
	border-radius: 30px;

	color: #fff;
	font-size: 20px;
	line-height: 35px;
	font-weight: 400;
	justify-content: flex-start;
	margin-top: 10px;

	cursor: pointer;
}

/* footer */
.footer{
	align-items: center;

	/* 固定在最下方; */
	flex-shrink: 0;
	background-color: #222;
	padding: 20px;
	color: #fff;
}

.footer .container{
	margin: 0 60px;
	height: 68px;
	padding-top: 9px;
	padding-bottom: 22px;
	display: block;
	border-top: 2px solid #444;
}

@media screen and (max-width:768px) {
	.footer .container {
		margin: 0 10px;
		display: block;
		border-top: 2px solid #444;
		width: 80vh;
  }
}

.footer .nav-item .nav-list{
	color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
	padding-right: 18px;
  font-weight: 400;
  line-height: 35px;
	float: left;
	transition: 0.3s;
}

.footer .nav-item .nav-list:hover{
	color: rgba(255, 255, 255, 1);

}

.footer .footer{
	color: rgba(255, 255, 255, 0.8);
	float: right;
	font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

@media screen and (max-width:768px) {
  .footer .nav-item,
	.footer {
    display: flex;
		flex-direction: column;
		flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}