@charset "utf-8";

*{
	box-sizing: border-box;
	position: relative;
}

html,body{
	font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
}

/* layout */

.container{
	max-width: 1800px;
	width: 100%;
	margin: 0 auto;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #333;
}

.col-6,.col-4,.col-3,.col-12{
	/*border: 1px solid red;*/
	float: left;
	padding-left: 16px;
	padding-right: 16px;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.3333333%;
}
.col-6{
	width: 50%;
}
.col-12{
	width: 100%;
}

.navbar{
	height: 101px;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 500;
	width: 100%;
	left: 0;
	top: 0;
}

.navbar .brand{
	display: inline-block;
	vertical-align: top;
	width: 177px;
	height: 111px;
	background-image: url('../images/nav_brand.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}

.navbar .nav{
	float: right;
}
.navbar .nav .nav-item{
	float: left;
}

.navbar .nav .nav-list{
	display: block;
	color: rgba(255, 255, 255, 0.5);
	line-height: 35px;
	padding:  58px 38px;
	/* border: 1px solid #000; */
	transition: color 0.3s;
}

.navbar .nav .nav-list:hover{
	color: #fff;
}