@charset "utf-8";

*{
	box-sizing: border-box;
	position: relative;
}

html,body{
	font-family: 'Poppins';
	background-color: #222;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
}

/* layout */

.navbar .container{
	max-width: 1800px;
	width: 100%;
	height: 121px;
	margin: 0 auto;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #222;
}

.main .container{
	max-width: 1800px;
	width: 100%;
	height: 924px;
	max-height: 1080px;
	margin-top: 100% ;
	margin: 0 auto;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #222;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-6,.col-4,.col-3,.col-12{
	/* border: 1px solid red; */
	padding-left: 16px;
	padding-right: 20px;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.3333333%;
}
.col-6{
	flex: 0 0 50%;
  max-width: 50%;
  padding: 0 16px;
}

@media only screen and (max-width: 768px) {
  .col-6 {
    width: 100%;
    float: none;
  }
}

/* component */
.main-preview .name_title{
	color: rgba(255, 255, 255, 0.5);
	line-height: 35px;
	font-size: 24px;
	font-weight: 400;
	margin-top: 44px;
}

.main-preview .title{
	color: #fff;
	line-height: 35px;
	font-size: 70px;
	font-weight: 800;
	margin-top: 44px;
}

.main-preview .descript{
	color: #fff;
	line-height: 35px;
	font-size: 20px;
	font-weight: 300;
	margin-top: 44px;
	margin-bottom: 23px;
	text-align: left;
}

.main-preview .btn{
	display: inline-block;
	padding: 13px 47px;
	font-size: 20px;
	font-weight: 300;
	line-height: 35px;
}

.main-preview .btn-group{
	margin-left: 12px;
}
.main-preview .btn-group .btn{
	margin-right: 15px;
}
.main-preview .btn-primary{
	background-color: #333;
	border: 3px solid #007CED;
	border-radius: 30px;
	color: #fff;
}

.main-preview .btn-normal{
	background-color: #333;
	border: 3px solid #fff;
	color: #fff;
	border-radius: 30px;
}
/* header */

/* navbar */
.navbar{
	height: 100%;
	background-color: #222;
	z-index: 500;
	width: 100%;
	left: 0;
	top: 0;

	display: flex;
  align-items: center;

}

.navbar .brand{
	display: inline-block;
	vertical-align: middle;
	width: 177px;
	height: 111px;
	background-image: url('../images/nav_brand.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}

.navbar .nav{
	float: right;
	flex-grow: 1;
}
.navbar .nav .nav-item{
	float: left;
}

.navbar .nav .nav-list{
	display: inline-block;
	vertical-align: middle;
	color: rgba(255, 255, 255, 0.5);
	line-height: 35px;
	margin:  58px 38px;
	/* border: 1px solid #000; */
	transition: color 0.3s;
}

.navbar .nav .nav-list:hover{
	color: #fff;
}

.wrapper{
	background-color: #222;
}
.main{

	display: block;
}

.main .container{
	display: flex;
	margin-top: 175px;
	margin-bottom: 208px;
	margin-right: 272px;

}

.image-container,
.main-preview {
  flex: 1;
  width: auto;
}


.image-container{
	float: left;
	width: 25%;
	height: 60%;
	vertical-align: center;
}

.image-container:before{
	content: '';
	display: block;
	width: 50%;
	padding-top: 50%;
}

.image-container:after{
	content: '';
	display: block;
	clear: both;
}

.image-container .image{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
}
.main .main-preview{
	padding-left: 80px;
	padding-right: 272px;
	width: 75%;
	float: right;
}

/* .front_end_title */
.front_end_skill_main .container{
	padding: 60px ;
}

.front_end_skill_main .hero{
	height: 231px;
	width: 100%;
	background-color: #242424;
	display: flex; /* 將元素設置為 flex 容器 */
	/* justify-content: center; 水平置中 */
	align-items: center; /* 垂直置中 */
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

.front_end_skill_main .front_end_title{
	color: #fff;
	margin: 0;
	font-size: 55px;
	font-weight: 700;
	line-height: 35px;
	padding-right: 60px;
}

.front_end_skill_main .front_end_skills_service{
	font-size: 28px;
	line-height: 35px;
	font-weight: 600;
	color: #fff;
}

.headline-box-border-grey{
	background: #353535;
	height: 2px;
	margin-top: 5px;
	width: 110px;
}
.headline-box-border-blue{
	background: #007CED;
	height: 2px;
	top: -2px;
	width: 40px;
}

/* front-descript-group */
.front-wrapper{
  width: 100%;
  overflow: hidden;
  padding-top: 22px;
	/* margin-bottom: 45px; */
}

.front-wrapper:after{
content: '';
display: block;
clear: both;
}

.front-wrapper .front-image{
  float: left;
  margin-right: 20px;

}

@media screen and (max-width: 768px) {
  .front-text-group {
    margin-left: 100px; /* 在較小的螢幕上縮小距離 */
  }
}

.front-wrapper .front-text-group{
	overflow: hidden;
	display: block;
  margin-left: 26px; /* 調整此處來決定兩個元素之間的距離 */
	margin-right: 20px;
}

.front-wrapper .front_name{
  color: #fff;
	display: inline-block;
	margin: 5 auto;
  line-height: 35px;
  margin-bottom: 10px;
	font-weight: 700;
	font-size: 18px;
	vertical-align: top;

}

.front-wrapper .front_descript{
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	text-align: left;
	display: flex;
  justify-content: space-between;
	margin-bottom: 45px
}

.front_end_skills_service{
	color: #fff;
	margin: 0;
	font-size: 55px;
	font-weight: 700;
	line-height: 35px;
	padding-right: 60px;
}

/* skillbar-box-name */
.skillbar-group {
  width: 100%;
  padding-top: 22px;
}

.skillbar-box-name {
  color: #fff;
  width: 50%;
  font-size: 18px;
  line-height: 35px;
  flex: 1;
  display: flex;
  align-items: center;
  float: left;
}

.skillbar-box-value {
  color: rgba(255, 255, 255, 0.7);
  width: 50%;
  font-style: normal;
  line-height: 35px;
  float: right;
  text-align: right;
}

.skillbar-box {

  display: flex;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
	margin-bottom: 16px;
  flex-wrap: wrap;
	align-items: center;
}

.skillbar {
	border: 2px;
  border-color: #444;
  border-radius: 15px;
  border-style: solid;
  width: 100%;
  height: 15px;
  position: relative;
  overflow: hidden;
  background-color: #222;
  margin-top: 5px;
	margin-bottom: 29px;
}

.skillbar-box-fill {
	border-radius: 8px;
  height: 100%;
  position: absolute;
  background-color: #007ced;
}

.footer{
	align-items: center;
}
.footer .container{
	margin: 0 60px;
	height: 68px;
	padding-top: 9px;
	padding-bottom: 22px;
	display: block;
	border-top: 2px solid #444;
}

.footer .nav-item .nav-list{
	color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
	padding-right: 18px;
  font-weight: 400;
  line-height: 35px;
	float: left;
	transition: 0.3s;
}

.footer .nav-item .nav-list:hover{
	color: rgba(255, 255, 255, 1);

}

.footer .footer{
	color: rgba(255, 255, 255, 0.8);
	float: right;
	font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}
No newline at end of file
